@charset "utf-8";
/* Noto Sans */
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 400;
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-light.woff2') format('woff2'),
		url('../font/notokr-light.woff') format('woff'),
		url('../font/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-regular.woff2') format('woff2'),
		url('../font/notokr-regular.woff') format('woff'),
		url('../font/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 600;
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-medium.woff2') format('woff2'),
		url('../font/notokr-medium.woff') format('woff'),
		url('../font/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 700;
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-bold.woff2') format('woff2'),
		url('../font/notokr-bold.woff') format('woff'),
		url('../font/notokr-bold.ttf') format('truetype');
}

html{font-size: 62.5%;}
html, body {height:100%;}
body {padding:0; margin:0; font-size:16px; font-size:1.6rem; font-family:'NotoSansCJK', sans-serif; line-height:1.5em; word-break:keep-all; -webkit-text-size-adjust:none;}

fieldset {display:block; margin:0; padding:0; border:0;}
legend {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0;}
form {margin:0; padding:0;}
a {color:inherit;}
a:link, a:visited, a:active, a:hover {text-decoration:none;}
img {border:0; vertical-align:middle;}
em, address {font-style:normal;}
button {margin:0; padding:0; border:0; outline:0; cursor:pointer; font-size:inherit; color:#444444; background:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}

table {width:100%; border-collapse:collapse; border-spacing:0;}
caption {overflow:hidden; visibility:hidden; margin:0; padding:0; width:0; height:0; font-size:0; line-height:0;}

.blind {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0;}
.skip {overflow:hidden; position:absolute; top:-50px; left:50%; z-index:100; width:130px; height:40px; padding:0; margin:0 0 0 -50px; text-align:center; font-size:16px; line-height:180%; color:#ffffff; background-color: #333333;}
.skip a {width:100px; color:#ffffff; font-weight: bold;}
.skip li {list-style-type:none;}

.clearfix {*zoom:1;}
.clearfix:after {display:block;clear:both;content:'';}

input {height:30px; padding-left:10px; border:1px solid #dddddd; line-height:30px; color:#666666; vertical-align:middle; background:#ffffff; box-sizing:border-box; -webkit-border-radius:0; border-radius:0; -webkit-appearance:none; appearance:none;}
select {height:28px; line-height:28px; padding:0 0 0 7px; margin:0; -webkit-border-radius:0; border-radius:0; vertical-align:middle; box-sizing:border-box; opacity:0; filter:alpha(opacity=0);}
textarea {width:100%; padding:20px; box-sizing:border-box; -webkit-border-radius:0; border-radius:0; -webkit-appearance:none; appearance:none;}

input.radio,
input[type=radio] {width:16px !important; height:16px !important; margin:-1px 5px 0 0; padding:0; border:0; background:none; -webkit-appearance:radio;}
input.check,
input[type=checkbox] {width:16px !important; height:16px !important; margin:0 5px 0 0; padding:0; border:0; background:none; -webkit-appearance:checkbox; }
.selectBox {display:inline-block; position:relative; height:28px; border:1px solid #dddddd; line-height:28px; vertical-align:middle; background:#ffffff url('/img/common/bg/bgSel.gif') no-repeat right 0;}
.selectBox strong {position:absolute; top:0; left:10px; height:28px; line-height:28px; color:#666666;}