@charset "UTF-8";
/* #header {position:fixed;} */

#header.on .headerTop .logo a {display:block; line-height:56px; text-indent:-9999px; background:url(../img/02/logo02.png) no-repeat 50% 50%/106px auto;}
#header.on .headerTop .btnMenu a {display:block; background:url(../img/02/btnMenu02.png) no-repeat 50% 50%/24px auto;}
#header.on .headerTop .util .sch a {display:block; line-height:34px; background:url(../img/02/btnSch03.png) no-repeat 50% 50%/24px auto;}
#header.on .headerTop .util .loc a {display:block; line-height:34px; background:url(../img/02/btnLoc03.png) no-repeat 50% 50%/24px auto;}

#gnb {position:fixed; top:0; left:0; z-index:20; width:100%; max-width:100%;height:100%; transition:none; background:#ffffff;transform:translateX(-100%);}

.main .visualWrap .swiper-wrapper .swiper-slide {background:none;}
.main .visualWrap .bg {width:100%;opacity:1;background-size:100% auto;}
.main .visualWrap .bg:before {content:'';width:100%;height:100%;display:block;position:absolute;top:0;left:0;background-color:rgba(0, 0, 0, .45);}
.main .visualWrap .swiper-wrapper .swiper-slide {opacity:1;transform:translateX(0);transition-property:opacity;transition-duration:0;}
.main .visualWrap .swiper-slide .con {width:100%;height:100%;}
.main .visualWrap .swiper-slide .con > * {opacity:1 !important;}
.main .visualWrap .swiper-pagination {opacity:0;}

.main .exhWrap .listType01 {padding-top:40px;}
.main .exhWrap .listType01 article {overflow:hidden;}
.main .exhWrap .listType01 article > a {display:block;transform:translateX(100%);}
/* .main .exhWrap .listType01 article > a > *:not(.img) {display:block;transform:translateX(100%);} */
.main .exhWrap .listType01 article .img {margin-top:0;overflow:hidden;}
/* .main .exhWrap .listType01 article .img > img {display:block;transform:translateX(100%);} */
.main .exhWrap .listType02 article {overflow:hidden;}
.main .exhWrap .listType02 article > a {display:block;overflow:hidden;transform:translateX(100%);}
/* .main .exhWrap .listType02 article > a > *:not(.img) {display:block;transform:translateX(100%);} */
.main .exhWrap .listType02 article .img {margin-top:0;overflow:hidden;}
/* .main .exhWrap .listType02 article .img > img {display:block;transform:translateX(100%);} */