@charset "UTF-8";
/* COMMON */
h1, h2, h3, h4, h5, h6, ul, li, ol, p {margin:0;}
ul, li, ol {list-style:none;padding:0;}
button {font-family:'NotoSansCJK', sans-serif;}
.inner {padding:0 25px;}
.imgWrap img {display:block;width:100%;height:auto;}
.conTit {margin-bottom:10px;font-size:21px;color:#000;}
.arrowR:after {content:'';display:inline-block;width:10px;height:16px;margin-left:6px;background:url('../img/03/btn_arrowR.png') no-repeat center;background-size:100% auto;vertical-align:inherit;}
.pointR {color:#ff4264;}
.pointP {color:#5f3bd5;}

.btnLike {display:block;position:absolute;top:0px;right:0;z-index:7;background:url(../img/03/icon_like.png) no-repeat center;background-size:20px auto;}
.btnLike.active {background-image:url(../img/03/icon_like_on.png);}

/* HEADER */
#header {padding:17px 15px 17px 30px;}
#header:after {content:'';display:block;clear:both;}
#header .logo {float:left;margin-top:5px;}
#header .logo img {display:inline-block;width:25px;height:auto;}
.detail #header {position:absolute;z-index:1;left:0;right:0;padding:17px 15px 17px 15px;} /* sub detail only */

.util {float:right;}
.util [class*=btn] {display:inline-block;width:39px;height:39px;vertical-align:middle;}
.util .btnMap {background:url('../img/03/icon_map.png') no-repeat center;background-size:21px auto;}
.util .btnOpen {background:url('../img/03/icon_menu.png') no-repeat center;background-size:19px auto;}
.detail .btnOpen {background-image:url('../img/03/icon_menu_white.png');}

/* MAIN - search */
.icoSearch {position:fixed;right:15px;bottom:30px;z-index:100;width:54px;height:54px;border-radius:54px;background:url('../img/03/icon_find.png') no-repeat center rgba(95,59,213,.9);background-size:21px auto;box-shadow:-2px 9px 11px rgba(0,0,0,0.3);}
.detail .icoSearch {bottom:85px;}

/* contents 시작 */
#contents {overflow:hidden;margin-bottom:60px;}
/* 헤더 밑 꾸밈 요소 */
.mainArt img {display:inline-block;width:72px;height:auto;}

/* GNB */
#gnb {position:fixed;top:0;left:100%;bottom:0;z-index:90;width:100%;height:100%;padding:0 25px 80px;box-sizing:border-box;background-color:#000000;color:#ffffff;}

.gnbHeader {position:relative;padding:16px 5px 17px;}
.gnbHeader .gnbLogo {display:inline-block;width:25px;}
.gnbHeader .gnbLogo img {display:inline-block;width:100%;height:auto;}
.gnbHeader .btnClose {display:block;position:absolute;top:9px;right:-10px;width:40px;height:40px;background:url('../img/03/btn_close.png') no-repeat center;background-size:16px auto;}

.myPage {display:table;width:100%;margin-top:29px;}
.myPage.arrowR:after {margin-top:20px;}
.myPage .profile, .myPage .myInfo {display:table-cell;vertical-align:top;}
.myPage .profile {width:54px;height:54px;border-radius:100px;}
.myPage .profile img {display:inline-block;width:100%;height:auto;}
.myPage .myInfo {padding-left:10px;}
.myPage .myInfo .name {font-size:17px;font-weight:500;word-break:break-all;}
.myPage .myInfo .userId {display:block;font-size:15px;word-break:break-all;}

.menu {overflow-y:auto;min-height:300px;height:65%;margin-top:40px;}
.menu a {display:block;}
.menu .depth01 {margin-top:25px;font-size:30px;font-weight:600;}

.menu .fnb {margin-top:20px;}
.fnb .fnbMenu {font-size:15px;color:#bababa;}

.settings {margin-top:30px;padding-left:25px;background:url('../img/03/icon_settings.png') no-repeat left center;background-size:20px auto;font-size:15px;color:#ffffff;}

/* 슬라이드 */
[class*="slideWrap"] {position:relative;width:100%;height:100%;}
[class*="slideWrap"] .slideTit {position:relative;z-index:10;padding:38px 25px 29px;font-size:17px;font-weight:500;color:#000000;background-color:#ffffff;border-radius:0 0 0 20px;}
[class*="slideWrap"] .swiper-wrapper {font-size:0;white-space:nowrap;line-height:1;}
[class*="slideWrap"] .swiper-wrapper .swiper-slide {display:inline-block;text-align:center;}
[class*="slideWrap"] .slideNavi {position:absolute;right:25px;bottom:30px;text-align:right;font-size:0;line-height:1;}
[class*="slideWrap"] .slideNavi span {display:inline-block;width:6px;height:6px;margin-left:5px;background-color:rgba(255,255,255,0.5);border-radius:10px;}
[class*="slideWrap"] .slideNavi .swiper-pagination-bullet-active {width:20px;background-color:#ffffff;}

.slideWrapMian {min-height:482px;}
.slideWrapMian .slideNavi {opacity:0;text-align:right;font-size:0;line-height:1;}
.slideWrapMian .slideNavi span {display:inline-block;width:6px;height:6px;margin-left:5px;background-color:#d1d1d1;border-radius:10px;}
.slideWrapMian .slideNavi .swiper-pagination-bullet-active {width:20px;background-color:#000000;}
.slideWrapMian .swiper-slide {position:relative;}
.slideWrapMian .slideItem {position:relative;left:-3px;right:0;bottom:0;margin-right:-3px;padding-top:8px;border-left:3px solid #ffffff;border-bottom:3px solid #ffffff;border-radius:0 0 0 20px;box-sizing:border-box;}

.slideItem:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3);border-radius:0 0 0 20px;}
.slideItem.dim:after {background-color:rgba(0,0,0,0.7);}
.slideWrapMian .slideItem:nth-child(1) {bottom:25px;z-index:5;background:url('../img/03/bg_main_slide01.png') no-repeat center bottom;background-size:100% auto;}
.slideWrapMian .slideItem:nth-child(2) {bottom:35px;z-index:4;background:url('../img/03/bg_main_slide02.png') no-repeat center bottom;background-size:100% auto;}
.slideWrapMian .slideItem:nth-child(3) {bottom:45px;z-index:3;background:url('../img/03/bg_main_slide03.png') no-repeat center bottom;background-size:100% auto;}
.slideWrapMian .slideItem:nth-child(4) {bottom:55px;z-index:2;background:url('../img/03/bg_main_slide04.png') no-repeat center bottom;background-size:100% auto;}

.slideWrapMian .first .slideItem {position:absolute;padding-top:100%;margin-right:0;transform:translateX(100%);}
.slideWrapMian .first .slideItem:nth-child(1) {bottom:258px;}
.slideWrapMian .first .slideItem:nth-child(2) {bottom:180px;}
.slideWrapMian .first .slideItem:nth-child(3) {bottom:102px;}
.slideWrapMian .first .slideItem:nth-child(4) {bottom:24px;}

.slideWrapMian .swiper-slide-active {z-index:6;}
.slideWrapMian .slideItem.active:nth-child(n) {background-size:cover;}

.slideWrapMian .slideItem .btnLike {top:10px;width:70px;height:75px;}
.slideWrapMian .slideItem:nth-child(1) .btnLike {top:25px;}
.slideWrapMian .first .slideItem .btnLike {top:auto;bottom:0px;}

.cardWrap {position:relative;padding:0 25px 26px 25px;text-align:left;font-size:21px;color:#eaeaea;}
.cardWrap .tit {display:block;position:relative;z-index:1;padding-top:30px;font-weight:600;}
.slideItem:first-of-type .cardWrap .tit {padding-top:45px;}
.cardWrap .info {opacity:0;display:none;position:relative;z-index:1;margin:0;padding:20px 0 0;line-height:1.5;font-size:15px;font-weight:600;color:#ffffff;}
.cardWrap.active .tit {font-size:30px;}
.cardWrap.active .info span {display:block;font-weight:300;color:#eaeaea;}

/* Standard */
.wideArea {position:relative;}
.wideArea .bgArea .info {margin-top:57px;}
.wideArea .btnLike {top:17px;right:10px;width:42px;height:42px;}
.areaType1 {overflow:hidden;background-color:#000000;transform-origin:0 0;transform:scale(0);}
.standWrap .wideArea .bgArea {min-height:200px;background:url('../img/03/bg_temp01.png') no-repeat center top;background-size:cover;}
.standWrap .halfArea {margin-top:10px;}
.standWrap .halfArea .areaType1 {float:left;width:calc(50% - 5px);}
.standWrap .halfArea .bgArea{min-height:180px;padding:44px 20px 0;text-align:center;}
.standWrap .halfArea .areaType1:nth-of-type(1) {margin-right:10px;}
.standWrap .halfArea .areaType1:nth-of-type(1) .bgArea {background:url('../img/03/bg_temp02.png') no-repeat center top;background-size:cover;}
.standWrap .halfArea .areaType1:nth-of-type(2) .bgArea {background:url('../img/03/bg_temp03.png') no-repeat center top;background-size:cover;}

.bgArea {opacity:0;position:relative;padding:28px 20px 0;box-sizing:border-box;}
.bgArea:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3);}
.bgArea .tit {position:relative;z-index:1;font-size:21px;color:#ffffff;font-weight:600;}
.bgArea .info {position:relative;z-index:1;margin:0;font-size:13px;color:#ffffff;font-weight:500;line-height:1.8;}
.bgArea .info span {display:block;font-size:12px;color:#cccccc;font-weight:300;letter-spacing:-0.8px;}

/* SupPinkWrap */
.SupPinkWrap {margin-top:40px;}
.areaType2 {display:table;width:100%;margin-top:10px;}
.areaType2 + .areaType2 {margin-top:15px;}
.areaType2 .imgWrap, .areaType2 .infoWrap {display:table-cell;vertical-align:top;}
.areaType2 .imgWrap {position:relative;width:105px;box-sizing:border-box;}
.areaType2 .imgWrap .btnLike {top:55px;right:0;width:46px;height:50px;}
.areaType2 .infoWrap {padding-left:20px;}
.infoWrap {color:#000000;}
.infoWrap .topLabel {display:block;margin-top:8px;margin-bottom:14px;font-size:13px;font-weight:500;line-height:1;}
.infoWrap .tit {display:inline-block;margin-top:8px;margin-bottom:4px;font-size:15px;font-weight:600;line-height:1.5;}
.infoWrap .info {display:block;font-size:13px;color:#888888;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:1.3;height:2.6em;}/* 두 줄 말줄임(webkit만 됨 그 외는 js) > overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:1.3;height:2.6em;*/
.SupPinkWrap .pointR {color:#000000;}

/* SUB PAGE */
.prevPage {float:left;}
.pageTit {display:block;float:left;width:calc( 100% - 78px );text-align:center;line-height:38px;font-size:22px;font-weight:600;color:#000000;}
.prevPage {width:39px;height:36px;background:url('../img/03/btn_prev.png') no-repeat center;background-size:15px auto;}
.detail .prevPage {width:39px;height:36px;background-image:url('../img/03/btn_prev_white.png');}
/* sub - search */
.searchBar {position:relative;padding:15px 54px;background-color:#ffffff;border-radius:60px 0 0 60px;;box-shadow:0px 14px 20px rgba(0,0,0,.07);}
.searchBar .prevPage {position:absolute;left:15px;bottom:50%;margin-bottom:-18px;}
.searchBar .schinput {position:relative;display:block;width:100%;padding-right:18px;box-sizing:border-box;}
.searchBar .schinput input {display:block;width:100%;border:none;font-size:18px;color:#000000;letter-spacing:-0.2px;}
.searchBar .schinput .clearBtn {position:absolute;right:0;bottom:50%;margin-bottom:-9px;width:18px;height:18px;background:url('../img/03/btn_clear.png') no-repeat center;background-size:100% auto;}
.searchBar .schBtn {position:absolute;right:15px;bottom:50%;margin-bottom:-18px;width:39px;height:36px;background:url('../img/03/icon_find_black.png') no-repeat center;background-size:19px auto;}

.popularArea {margin-top:40px;}
.popularArea .conTit {margin-bottom:10px;font-size:17px;}
.popLabel {margin-top:10px;font-size:0;}
.popLabel .word {display:inline-block;opacity:0;transform:translateY(50px);padding:6px 13px 7px;margin-right:5px;margin-bottom:7px;line-height:1;border:1px solid #cccccc;border-radius:20px;font-size:13px;font-weight:500;letter-spacing:-0.8px;color:#000000;}
.popLabel .word:last-of-type{margin-right:0;}

.resultArea {margin-top:35px;}
.resultArea .topArea {padding:0 25px;border-bottom:1px solid #000000;font-size:0;}
.resultArea .topArea .conTit {float:left;font-size:17px;}
.resultArea .topArea .conTit .count {font-size:13px;font-weight:600;vertical-align:top;}
.resultArea .topArea .selecter {position:relative;float:right;min-width:45px;}
.resultArea .topArea .selecter label {display:block;width:100%;font-size:15px;font-weight:500;color:#000000;background:url('../img/03/icon_arrow_btm.png') no-repeat right center;background-size:12px auto;}
.resultArea .topArea .selecter select {position:absolute;top:0;left:0;width:100%;padding:0;}

.artList {display:none;margin-top:10px;}
.artList.active {display:block;}
.artList .item {opacity:0;transform:translateY(50px);}
.artList .item {margin-left:-1px;padding:20px 25px;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;border-radius:0 0 0 20px;}
/* .artList .item:last-of-type {border:none;} */
.artList .artImg,
.artList .artInfo {float:left;display:block;}
.artList .artImg {width:60px;height:60px;}
.artList .artInfo {width:calc(100% - 60px);padding-left:15px;line-height:1.2;font-size:13px;font-weight:500;color:#000000;box-sizing:border-box;}
.artInfo .tit {display:block;margin-bottom:8px;font-size:15px;font-weight:700;}
.artInfo .text {display:block;margin-top:8px;margin-bottom:3px;}
.artInfo .date {display:block;margin-top:3px;font-size:12px;color:#888888;}

/* 더보기 */
.btmArea {text-align:center;margin-top:20px;}
.moreList {display:inline-block;padding-left:21px;background:url('../img/03/icon_more.png') no-repeat left center;background-size:15px auto;font-size:15px;font-weight:500;color:#000000;}

/* view 페이지 */
.view {margin-top:40px;}
.viewTit .title {letter-spacing:-0.2px;font-size:30px;font-weight:700;color:#000000;}
.viewTit .title .label {display:block;margin-top:10px;font-size:13px;font-weight:500;color:#888888;}

.viewTit .info {margin-top:15px;font-size:15px;color:#555555;}
.viewTit .info li {display:table;table-layout:fixed;width:100%;}
.viewTit .info span, .view .info .tit {display:table-cell;word-break:break-all;text-align:left;}
.viewTit .info .tit {width:65px;padding-right:13px;font-weight:700;word-break:keep-all;color:#000000;}

.viewTit .share {margin-top:15px;}
.viewTit .share .btnLike {position:static;float:left;padding-left:25px;left:0;background-image:url('../img/03/icon_like_gray.png');background-position:left center;}
.viewTit .share .btnLike.active {background-image:url('../img/03/icon_like_on.png');}
.viewTit .share .iconUrl {float:right;}
.iconUrl {width:40px;height:22px;background:url('../img/03/icon_url.png') no-repeat center;background-size:18px auto;}

.viewCon {margin-top:34px;padding:25px;background-color:#f6f6f6;}
.viewCon .infoTit .tit {position:relative;margin-right:20px;padding-bottom:8px;font-size:17px;font-weight:500;letter-spacing:-0.2px;color:#bababa;}
.viewCon .infoTit .tit.on:after {content:'';display:block;position:absolute;left:3px;bottom:0;width:24px;height:3px;background-color:#000000;}
.viewCon .infoTit .tit.on {font-weight:800;color:#000000;}
.viewCon .infoText {margin-top:20px;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.2px;color:#555555;}

.viewRply {margin-top:40px;padding-bottom:60px;}
.viewRply .total {padding:0 26px 15px;border-bottom:1px solid #dbdbdb;font-size:17px;font-weight:700;color:#000000;}
.viewRply .total span:before {content:'(';}
.viewRply .total span:after {content:')';}

.replyWrap {margin-left:-1px;}
.replyWrap .reply:after {content:'';display:block;clear:both;}
.replyWrap .reply {padding:17px 25px;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;border-radius:0 0 0 20px;}
.replyWrap .reply .imgWrap, .replyWrap .reply .coment {display:block;float:left;width:70%;box-sizing:border-box;}
.replyWrap .reply .imgWrap {overflow:hidden;width:30%;max-width:50px;border-radius:50px;}
.reply .coment {padding-left:17px;font-size:15px;font-weight:500;color:#555555;letter-spacing:-0.2px;}
.reply .coment .user {display:block;font-weight:700;color:#000000;}
.reply .coment .date {padding-left:10px;font-size:13px;font-weight:500;color:#999999;}
.reply .coment .text {display:block;line-height:1.4;}

.replyInput {position:fixed;left:0;bottom:0;width:100%;z-index:2;font-size:0;line-height:1;background-color:#ffffff;box-shadow:-10px -10px 10px rgba(0,0,0,.05);}
.replyInput input, .replyInput .btnSave {display:inline-block;vertical-align:middle;}
.replyInput input {width:calc(100% - 73px);padding:30px 24px 25px;border:none;}
.replyInput input::placeholder {color:#bababa;}
.replyInput .btnSave {width:73px;height:55px;background:url('../img/03/icon_plus.png') no-repeat center #333333;background-size:20px auto;border-radius:20px 0 0 0;}

/* 탭 */
.tabWrap .tabArea {font-size:0;text-align:center;padding:14px 4px 9px;background-color:#ffffff;border-radius:60px 0 0 60px;box-shadow:0px 14px 20px rgba(0,0,0,.07);}
.tabArea .tabBtn {padding:2px 7px;font-size:17px;font-weight:500;color:#888888;letter-spacing:-0.2px;}
.tabArea .tabBtn.active {position:relative;font-weight:700;color:#000000;}
.tabBtn.active:after {content:'';display:block;position:absolute;right:8px;left:10px;bottom:-14px;height:3px;background-color:#000000;}

/* 인터랙션 클래스 actionType */
.actionType .item {opacity:0;transform:translateY(50px);}

/* layerPopup */
.layerPopup {position:fixed;left:0;top:0;z-index:101;overflow-y:auto;width:100%;height:100%;background-color:#ffffff;}
.layerPopup .closePop {display:block;position:absolute;right:20px;top:25px;z-index:1;width:45px;height:45px;background:url('../img/03/btn_close.png') no-repeat center;background-size:20px auto;}

/* 팝업내용 */
.layerPopup .mapArea {position:relative;padding-top:108.7%;background:url('../img/03/bg_map.png') no-repeat left top;background-size:100% auto;}
.dotWrap .dot {position:absolute;z-index:3;min-width:18px;height:18px;font-size:15px;}
.dotWrap .dot:after {content:'';display:block;width:100%;height:18px;background:url('../img/03/icon_indi.png') no-repeat center;background-size:18px auto;}
.dotWrap .dot.active:after {background-image:url('../img/03/icon_indi_on.png');background-size:18px auto;}
.dotWrap .dot .name {display:none;position:absolute;left:50%;bottom:28px;padding:4px 6px 4px;background-color:#ffffff;border-radius:5px;font-size:12px;font-weight:600;white-space:nowrap;color:#000000;}
.dotWrap .dot.active .name {display:inline-block;}

.dotWrap .dot01 {bottom:134px;left:68px;}
.dotWrap .dot01 .name {margin-left:-42px;}
.dotWrap .dot02 {top:154px;right:85px;}
.dotWrap .dot02 .name {margin-left:-60px;}
.dotWrap .dot03 {left:161px;bottom:68px;}
.dotWrap .dot03 .name {margin-left:-44px;}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1);
    }
    100% {
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1);
    }
    100% {
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
    }
}
.mapArea .myLocation {display:block;}
.mapArea .myLocation:after {content:'';display:block;position:absolute;top:50%;left:50%;margin:-13.5px 0 0 -13.5px;width:27px;height:27px;background:url('../img/03/icon_location.png') no-repeat center;background-size:27px auto;}
.mapArea .myLocation span {display:block;position:absolute;top:50%;left:50%;z-index:0;border-radius:100%;}
.mapArea .myLocation.active span {
-webkit-animation:scale-up-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate both;
animation:scale-up-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate both;}
.mapArea .myLocation .roundBig {width:310px;height:310px;margin:-155px 0 0 -155px;background-color:rgba(95, 59, 213, .1);}
.mapArea .myLocation .roundSmall {width:75px;height:75px;margin:-37.5px 0 0 -37.5px;background-color:rgba(95, 59, 213, .3);}

.mapArea .iconNavi {display:block;position:absolute;right:15px;bottom:31px;width:54px;height:54px;background:url('../img/03/icon_navi.png') no-repeat center rgba(255,255,255,0.8);background-size:18px auto;border-radius:100px;box-shadow:3px 9px 15px rgba(0,0,0,.3);}

.layerPopup .nearBy {margin-top:40px;padding-bottom:60px;}
.nearBy .title {position:relative;padding-right:110px;color:#000000;}
.nearBy .title span,
.nearBy .title strong {display:block;font-size:21px;font-weight:500;}
.nearBy .title .user {font-size:30px;font-weight:700;}
.nearBy .title .near {margin-top:25px;font-weight:700;}
.nearBy .title .standard {position:absolute;right:25px;bottom:0;font-size:13px;color:#888888;}

.nearBy .slideWrap03 { padding:0 25px;box-sizing:border-box;}
.slideWrap03 .swiper-slide {position:relative;margin-top:35px;}
.slideWrap03 .swiper-slide span {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-0.2px;font-size:15px;color:#ffffff;}
.slideWrap03 .swiper-slide .tit {position:absolute;top:20px;right:12px;left:12px;font-weight:500;}
.slideWrap03 .swiper-slide .info {position:absolute;bottom:17px;right:12px;left:13px;text-align:left;}
.slideWrap03 .swiper-slide .info span {display:block;font-size:12px;color:#cccccc;}
.slideWrap03 .swiper-slide .info .tag {margin-bottom:5px;color:#ffffff;}
