@charset "UTF-8";
p, ul, li, h1, h2, h3, h4, h5, dl, dt, dd, textarea {margin:0; padding:0;}
ul {list-style:none;}
body {font-size:15px; font-size:1.5rem; font-weight:500;}

/* layer */
#dim {display:none; position:fixed; *position:absolute; top:0; left:0; z-index:100; width:100%; height:100%; filter:Alpha(opacity=50); opacity:0.5; background:#000;}
.layerPopWrap {display:none; position:fixed; top:0; left:0; z-index:1000; width:100%; height:100%; overflow:auto;}
.layerPopWrap.layerPop02 {width:auto; height:auto;}
.layerPopWrapDim {display:none; overflow:auto; position:fixed; top:0; left:0; z-index:1000; width:100%; height:100%;}
.layerPopWrapBook { display:none; overflow:auto; position:fixed; top:110px; left:70px; padding-top:8px; z-index:102;}

.layerPop01 .popWrap {background:#ffffff;}

/* layout */
#wrap {height:100%;}
#header {position:absolute; top:0; left:0; z-index:10; width:100%; height:56px;}
#header .headerTop .logo {overflow:hidden; position:absolute; top:0; left:50%; width:108px; height:56px; margin-left:-53px;}
/* .main #header .headerTop .logo {display:block;} */
#header .headerTop .logo a {display:block; line-height:56px; text-indent:-9999px; background:url(../img/02/logo.png) no-repeat 50% 50%/106px auto;}
#header .headerTop .btnMenu {overflow:hidden; position:absolute; top:10px; left:15px;}
#header .headerTop .util span.btn, #header .btnMenu a {display:inline-block; overflow:hidden; width:30px; height:34px; text-indent:-9999px;}
#header .headerTop .btnMenu a {display:block; background:url(../img/02/btnMenu.png) no-repeat 50% 50%/24px auto;}
#header .headerTop .util {position:absolute; top:10px; right:15px;}
#header .headerTop .util .sch a {display:block; line-height:34px; background:url(../img/02/btnSch.png) no-repeat 50% 50%/24px auto;}
#header .headerTop .util .loc a {display:block; line-height:34px; background:url(../img/02/btnLoc.png) no-repeat 50% 50%/24px auto;}

#gnb {position:absolute; top:0; left:-375px; z-index:20; width:100%; max-width:375px; min-height:100vh; height:100%; transition:all 0.2s; background:#ffffff;}
.scrollStop #gnb {overflow:auto; position:relative; left:0;}
#gnb .btn {position:absolute; top:15px;}
#gnb .btn a {display:inline-block; text-indent:-99999px;}
#gnb .btn.home {left:20px;}
#gnb .btn.home a {width:24px; height:24px; background:url(../img/02/btnHome.png) no-repeat 50% 50%/24px auto;}
#gnb .btn.close {right:20px;}
#gnb .btn.close a {width:24px; height:24px; background:url(../img/02/btnClose.png) no-repeat 50% 50%/24px auto;}

#gnb .noLogin {padding:80px 40px 50px 40px; border-bottom:1px solid #ededed; font-size:18px;}
#gnb .noLogin a {font-weight:700; text-decoration:underline; color:#111111;}

#gnb .util {overflow:hidden; padding:0 20px; border-bottom:10px solid #ededed;}
#gnb .util li {float:left; width:25%;}
#gnb .util li a {display:block; padding:53px 0 20px 0; font-size:12px; color:#111111; font-weight:500; text-align:center; background:no-repeat 50% 20px/28px auto;}
#gnb .util li:first-child a {background-image:url(../img/02/btnSch02.png);}
#gnb .util li:nth-child(2) a {background-image:url(../img/02/btnLoc02.png);}
#gnb .util li:nth-child(3) a {background-image:url(../img/02/btnNotice.png);}
#gnb .util li:nth-child(4) a {background-image:url(../img/02/btnUser.png);}
#gnb .menu {padding:30px 40px;}
#gnb .menu li a {display:block; font-size:22px; line-height:2em; font-weight:700; color:#111111;}
#gnb .bottom {position:fixed; bottom:0; left:-375px; width:100%; border-top:1px solid #ededed; transition:all 0.2s; background:#ffffff;}
.scrollStop #gnb .bottom {left:0;}
#gnb .bottom a {float:left; width:50%; border-right:1px solid #ededed; line-height:50px; color:#666666; text-align:center; box-sizing:border-box;}
#gnb .bottom .b {color:#111111; font-weight:700;}

.subBody02 #header .headerTop .logo {width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; background:none;}
.subBody #contents {padding-top:56px;}
.subBody03.hFix #container {height:100%;}
.subBody03 #contents {height:100%; padding-top:56px; box-sizing:border-box;}

.subBody #header .headerTop .btnMenu a {display:block; background:url(../img/02/btnMenu02.png) no-repeat 50% 50%/24px auto;}
.subBody #header .headerTop .util .sch a {display:block; height:34px; background:url(../img/02/btnSch03.png) no-repeat 50% 50%/24px auto;}
.subBody #header .headerTop .util .loc a {display:block; height:34px; background:url(../img/02/btnLoc03.png) no-repeat 50% 50%/24px auto;}

#footer {padding-bottom:30px; border-top:1px solid #ededed; text-align:center;}
#footer .util {padding-top:25px;}
#footer .util a {display:inline-block; position:relative; font-size:12px; line-height:1.5em; font-weight:500; color:#666666;}
#footer .util a:before {content:'·'; display:inline-block; margin:0 8px 0 4px; font-weight:500;}
#footer .util a:first-child:before {display:none;}
#footer .util a.privacy {font-weight:700; color:#111111;}
#footer .copy {font-size:10px; line-height:1.5em; color:#aaaaaa;}

/* main */
.main .visualWrap {position:relative; height:670px;}
.main .visualWrap .swiper-wrapper {height:100%;}
.main .visualWrap .swiper-wrapper .swiper-slide {height:640px; background:#000000; opacity:0; transform:translateX(100%); transition:transform 0.4s;}
.main .visualWrap .bg {display:block; position:relative; z-index:1; height:100%; opacity:0.6; background:no-repeat 50% 50%/cover;}
.main .visualWrap .swiper-wrapper .swiper-slide p {position:absolute; z-index:2; color:#ffffff; opacity:0;}
.main .visualWrap .swiper-wrapper .swiper-slide .txt01 {top:154px; left:20px; font-weight:500; opacity:0;}
.main .visualWrap .swiper-wrapper .swiper-slide .txt02 {top:187px; left:20px; font-size:45px; line-height:1.2em; opacity:0;}
.main .visualWrap .swiper-wrapper .swiper-slide .date {top:320px; left:20px; font-family:sans-serif; color:#dddddd; opacity:0;}
.main .visualWrap .swiper-wrapper .swiper-slide .txt03 {top:350px; left:20px; color:#dddddd; font-weight:500; opacity:0;}
.main .visualWrap .swiper-wrapper .swiper-slide:nth-child(2) .date, .con02Date {top:260px;}
.main .visualWrap .swiper-wrapper .swiper-slide:nth-child(2) .txt03, .con02Txt03 {top:285px;}
.main .visualWrap .con01, .main .visualWrap .con02, .main .visualWrap .con03 {height:100%;}

.main .visualWrap .swiper-wrapper .swiper-slide:nth-child(1) {z-index:1;}
.main .visualWrap .swiper-wrapper .swiper-slide:nth-child(2) {z-index:2; transform:translateX(0);}
.main .visualWrap .swiper-wrapper .swiper-slide:nth-child(3) {z-index:3; transform:translateX(0);}

.main .visualWrap .area01 {position:absolute; bottom:20px; left:20px; z-index:5;}
.main .visualWrap .area01 span {display:inline-block; margin-right:15px; font-size:12px; color:#dddddd;}
.main .visualWrap .area01 .talk a {display:block; padding-left:23px; background:url(../img/02/icoTalk.png) no-repeat 0 50%/20px auto;}
.main .visualWrap .area01 .heart a {display:block; padding-left:23px; background:url(../img/02/icoHeart.png) no-repeat 0 -27px/18px auto;}
.main .visualWrap .area01 .heart.on a {background-position:0 2px;}

.main .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-20px; height:40px;}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {transition:width 0.2s}
.main .swiper-pagination-bullet-active {width:16px; border-radius:4px; background:#111111;}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 3px;}

.main .exhWrap {margin:50px 0 0 0;}
.main .exhWrap h2.tit {padding-left:40px; font-size:25px; line-height:1.5em; color:#111111;}
.main .exhWrap .listType01 {overflow:hidden; position:relative; padding:0 0 45px 40px;}
.main .exhWrap .listType01:after {content:''; position:absolute; bottom:0; left:40px; width:100%; height:0; border-bottom:1px solid #ededed;}
.main .exhWrap .listType01 article {float:left; width:230px; margin-right:8px;}
.main .exhWrap .listType01 article .img {display:block; margin-top:40px;}
.main .exhWrap .listType01 article .img img {width:100%; height:230px;}
.main .exhWrap .listType01 article .tit {padding-top:12px; font-size:18px; line-height:1.5em; font-weight:700; color:#111111; text-transform:uppercase;}
.main .exhWrap .listType01 article .desc {font-size:15px; line-height:1.5em; font-weight:500; color:#666666;}
.main .exhWrap .listType01 article .date {font-family:sans-serif; font-size:12px; line-height:1.5em; color:#999999;}

.main .exhWrap .listType02 {overflow:hidden; position:relative; padding:0 30px 45px 40px;}
.main .exhWrap .listType02:after {content:''; position:absolute; bottom:0; left:40px; width:100%; height:0; border-bottom:1px solid #ededed;}
.main .exhWrap .listType02 article {float:left; width:150px;}
.main .exhWrap .listType02 article .img {display:block; margin-top:50px;}
.main .exhWrap .listType02 article .img img {width:100%; height:150px;}
.main .exhWrap .listType02 article .tit {padding-top:12px; font-weight:700; color:#111111;}

.main .exhWrap .listType03 {position:relative; padding-left:40px;}
.main .exhWrap .listType03 article {float:left; width:90px; margin-right:8px;}
.main .exhWrap .listType03 article .img {display:block; margin-top:50px;}
.main .exhWrap .listType03 article .img img {width:100%; height:90px;}
.main .exhWrap .listType03 article .tit {padding-top:12px; font-size:12px; line-height:1.5em; font-weight:700; color:#111111;}

.main .superWrap {margin:50px 0 0 0; padding-top:50px; border-top:10px solid #ededed;}
.main .superWrap h2.tit {padding:5px 0 0 40px; font-size:25px; line-height:1.5em; color:#111111;}
.main .superWrap .desc {padding-left:40px; font-size:12px; line-height:1.5em; color:#f93974; font-weight:700;}
.main .superWrap .perList {position:relative; padding:0 30px 45px 40px;}
.main .superWrap .perList article {float:left; width:82px;}
.main .superWrap .perList article .img {display:block; margin-top:35px;}
.main .superWrap .perList article .img img {width:100%; height:82px;}
.main .superWrap .perList article .tit {padding-top:12px; font-size:12px; line-height:1.5em; font-weight:700; color:#111111; text-align:center;}

/* common */
.scrollStop{overflow:hidden; position:fixed; width:100%; height:100%;}

.btnArea01 {margin-top:15px; text-align:right;}
.btnType01 {display:inline-block; height:35px; padding:0 20px; line-height:35px; color:#ffffff; font-size:14px; vertical-align:middle; background:#111111;}

.dispNone {display:none;}
.p0 {padding-top:0 !important;}
.txtC {text-align:center !important;}

.title01 {overflow:hidden; min-height:30px; margin:30px 30px 0 0;}
.title01 .tit {float:left; font-size:18px; line-height:1.5em; color:#111111;}
.title01 .cnt {float:right; font-size:12px; line-height:1.5em; color:#aaaaaa;}

/* sub */
#header h2.conTit {position:absolute; top:17px; left:70px; font-size:18px; line-height:1.5em; color:#ffffff; font-weight:500;}
.subBody #header h2.conTit {top:11px; left:0; width:100%; padding:0 60px; font-family:sans-serif; font-size:20px; line-height:1.5em; color:#111111; font-weight:700; text-align:center; box-sizing:border-box;}


#header .btnPrev {position:absolute; top:15px; left:15px;}
#header .btnPrev a {display:block; width:34px; height:34px; text-indent:-9999px; background:url(../img/02/btnPrev.png) no-repeat 5px 50%/24px auto;}

.subBody .conWrap {margin:0;}
.subBody .conWrap:before {display:none;}

.subBody03 #header .btnPrev a {background-image:url(../img/02/btnPrev03.png);}
.subBody03 .conWrap {margin-top:0;}
.subBody03 #header h2.conTit {color:#111111;}

/* Exhibition */
.subVisualWrap {position:relative; height:500px;}
.subVisualWrap .visualDim {position:absolute; top:0; left:0; z-index:2; width:100%; height:156px; opacity:0.4; background:linear-gradient(hsl(0, 0%, 21%), transparent)}
.subVisualWrap .swiper-wrapper {height:100%;}
.subVisualWrap .swiper-wrapper .swiper-slide {height:100%;}
.subVisualWrap .swiper-wrapper .swiper-slide img {height:100%;}

.conWrap {position:relative; z-index:2; margin:-50px 0 0 40px; transition:margin 0.2s;}
.conWrap.extend {margin-top:-360px !important;}
.conWrap .before {position:absolute; top:20px; left:50%; width:80px; height:5px; margin-left:-40px; border-radius:4px; background:#dddddd;}
.conWrap .conTop { padding:50px 30px 0 30px; background:#ffffff;}
.conWrap .conTop .tag {display:inline-block; padding:0 5px; border:1px solid #666666; line-height:1.8em; color:#666666; font-size:12px; font-weight:500;}
.conWrap .conTop .tag.b02 {color:#004be1; border-color:#004be1;}
.conWrap .conTop .tag.b03 {color:#004be1; border-color:#004be1;}
.conWrap .conTop .conTit {margin-top:15px; font-size:25px; line-height:1.7em;}
.conWrap .conTop .list dl {overflow:hidden; margin-top:25px; padding-bottom:20px; font-weight:500;}
.conWrap .conTop .list dl dt {float:left; width:25%; padding:6px 0; color:#999999;}
.conWrap .conTop .list dl dd {float:left; width:75%; padding:6px 0; color:#111111;}
.conWrap .conTop .list dl dd .icoPin {position:relative; display:inline-block;}
.conWrap .conTop .list dl dd .icoPin:after {content:''; display:inline-block; width:15px; height:15px; margin-left:5px; background:url(../img/02/icoPin.png) no-repeat 0 50%/15px auto;}
.conWrap .conFoot {position:fixed; bottom:0; left:0; z-index:5; width:100%; height:47px; background:#f8f8f8;}
.conWrap .conFoot span {display:inline-block; margin-right:15px; line-height:47px; font-size:12px; color:#111111;}
.conWrap .conFoot .talk a {display:block; padding-left:23px; margin-left:15px; background:url(../img/02/icoTalk02.png) no-repeat 0 50%/20px auto;}
.conWrap .conFoot .heart a {display:block; padding-left:23px; background:url(../img/02/icoHeart02.png) no-repeat 0 50%/18px auto;}
.conWrap .conFoot .share {float:right; margin-right:15px;}
.conWrap .conFoot .share a {display:block; width:24px; text-indent:-9999px; background:url(../img/02/icoShare.png) no-repeat 2px 50%/18px auto;}

.conWrap .conMid {position:relative; z-index:2; padding:0 30px 80px 30px; transition:margin 0.2s; background:#ffffff;}

.conWrap .tab {border-bottom:1px solid #dddddd;}
.conWrap .tab ul {overflow:hidden;}
.conWrap .tab ul li {float:left; padding-right:10px; text-align:center;}
.conWrap .tab ul li a {display:inline-block; position:relative; padding:0 5px; line-height:60px; color:#666666; font-weight:600;}
.conWrap .tab ul li:last-child {padding-right:0;}
.conWrap .tab ul li.on a {color:#f93974; font-weight:700;}
.conWrap .tab ul li.on a:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#f93974;}

.conWrap .conMid .tabCon {display:none;}
.conWrap .conMid .title {margin-top:30px; font-size:20px; line-height:1.5em;}
.conWrap .conMid .title .txtTok {display:inline-block; width:38px; height:16px; margin-left:5px; text-indent:-9999px; vertical-align:middle; background:url(../img/02/txtTok.png) no-repeat 0 50%/auto 16px;}
.conWrap .conMid .viewCon p {padding:10px 0 0 0; line-height:1.8em; color:#666666;}
.conWrap .conMid .viewCon .list {padding:10px 0 0 0; line-height:1.5em; color:#666666;}
.conWrap .conMid .viewCon .list dl {overflow:hidden; margin-top:15px; font-weight:500;}
.conWrap .conMid .viewCon .list dl dt {float:left; width:25%; padding:3px 0; color:#111111;}
.conWrap .conMid .viewCon .list dl dd {float:left; width:75%; padding:3px 0; color:#666666;}
.conWrap .conMid .viewCon .list02 {padding:5px 0 0 0; line-height:1.5em; color:#666666;}
.conWrap .conMid .viewCon .list02 dl {overflow:hidden; margin-top:15px;}
.conWrap .conMid .viewCon .list02 dl dt {padding:8px 0 3px 0; color:#111111; font-weight:600;}
.conWrap .conMid .viewCon .list02 dl dd {padding:3px 0; color:#666666;}
.conWrap .conMid .viewCon .map {display:block; margin-top:20px;}
.conWrap .conMid .viewCon .map img {width:100%;}
.conWrap .conMid .viewCon .textA01 {position:relative; margin-top:20px;}
.conWrap .conMid .viewCon .textA01 textarea {height:45px; padding:15px; border:1px solid #111111; color:#666666; transition:all 0.2s; box-sizing:border-box;}
.conWrap .conMid .viewCon .textA01 textarea.on {height:140px; border:2px solid #111111;}
.conWrap .conMid .viewCon .textA01 textarea::placeholder {font-size:14px; color:#aaaaaa; letter-spacing:-1px;}
.conWrap .conMid .viewCon .textA01 .btnWrite {position:absolute; top:0; right:0; width:100%; height:45px;}
.conWrap .conMid .viewCon .textA01 .btnWrite a {display:block; height:45px; padding:5px; text-indent:-9999px; background:url(../img/02/icoWrite.png) no-repeat 95% 50%/24px auto; box-sizing:border-box;}
.conWrap .conMid .viewCon .textA01 .btnWrite02 {display:inline-block;}
.conWrap .conMid .viewCon .thumList {padding-top:20px;}
.conWrap .conMid .viewCon .thumList li {overflow:hidden; position:relative; margin-top:20px; padding-top:20px; border-top:1px solid #dddddd;}
.conWrap .conMid .viewCon .thumList li .img {float:left; width:50px; height:50px;}
.conWrap .conMid .viewCon .thumList li .img img {width:100%;}
.conWrap .conMid .viewCon .thumList li .uid {float:left; margin-left:15px; line-height:50px; color:#111111; font-weight:700;}
.conWrap .conMid .viewCon .thumList li .date {float:right; width:80px; line-height:50px; font-size:12px; color:#999999;}
.conWrap .conMid .viewCon .thumList li .txt {clear:both; font-size:14px; line-height:1.5em; color:#666666;}


.tabMenu {position:relative; height:55px; border-bottom:1px solid #dddddd;}
.tabMenu ul {overflow:hidden;}
.tabMenu ul li {float:left; width:50%; line-height:55px; text-align:center;}
.tabMenu ul li a {display:block; font-size:16px; line-height:55px; text-align:center; font-weight:600;}
.tabMenu ul li.on a {font-weight:700;}
.tabMenu ul:before {content:''; position:absolute; bottom:0; left:0; width:50%; height:3px; background:#111111;}

.tab02 {height:50px; margin-top:10px; padding:0 20px;}
.tab02 ul li {float:left; width:28px; box-sizing:border-box;}
.tab02 ul li a {display:inline-block; position:relative; line-height:50px;}
.tab02 ul li.active a {color:#f93974;}
.tab02 ul li.active a:after {content:''; position:absolute; bottom:5px; left:50%; width:4px; height:4px; margin-left:-2px; border-radius:100%; background:#f93974;}

.tab02 ul li:nth-child(3) {width:42px;}
.tab02 ul li:nth-child(4) {width:42px;}

.thumList02 {margin:20px 20px 0 20px;}
.thumList02 ul {overflow:hidden;}
.thumList02 ul li {float:left; width:50%; height:270px; padding-right:15px; box-sizing:border-box;}
.thumList02 ul li:nth-child(2n) {padding-right:0; padding-left:15px;}
.thumList02 ul li a {display:block;}
.thumList02 ul li .img {display:block; overflow:hidden; height:152px;}
.thumList02 ul li .img img {width:100%;}
.thumList02 ul li .uname {display:block; position:relative; padding-top:20px; color:#111111; font-weight:700;}
.thumList02 ul li .tag {position:absolute; top:18px; right:0; padding:0 5px; border:1px solid #f93974; color:#f93974; font-size:9px; line-height:20px; font-weight:700; border-radius:10px;}
.thumList02 ul li .ename {display:block; margin-top:5px; color:#111111; font-size:12px; line-height:1.5em;}
.thumList02 ul li .part {display:block; margin-top:5px; color:#999999; font-size:12px; line-height:1.5em;}
.thumList02 ul li .part em:after {content:'|'; display:inline-block; margin:-2px 0 0 3px; font-size:10px; color:#aaaaaa; vertical-align:top;}

.thumList03 {margin:20px 0 0 0;}
.thumList03 ul {overflow:hidden;}
.thumList03 ul li {float:left; width:50%; height:142px; padding:0 5px 10px 0; box-sizing:border-box;}
.thumList03 ul li:nth-child(2n) {padding-right:0; padding-left:5px;}
.thumList03 ul li a {display:block;}
.thumList03 ul li .img {display:block; overflow:hidden; height:132px;}
.thumList03 ul li .img img {width:100%;}

.thumList04 {position:relative; padding-right:30px; border-bottom:1px solid #dddddd;}
.thumList04.last {border-bottom:0;}
.thumList04 article {float:left; width:90px; margin:0 0 30px 0;}
.thumList04 article .img {display:block; margin-top:10px;}
.thumList04 article .img img {width:100%; height:90px;}
.thumList04 article .tit {padding-top:12px; font-size:14px; line-height:1.5em; font-weight:700; color:#111111;}

.schCont {padding:0 30px 0 40px;}
.schCont .txtSch {font-size:25px; line-height:1.6em; color:#111111; font-weight:700;}
.schCont .inputW {display:table; position:relative; width:100%; border-bottom:2px solid #111111;}
.schCont .inputW input {display:table-cell; width:100%; height:50px; border:0; line-height:50px; color:#111111;}
.schCont .inputW span {display:table-cell; overflow:hidden; text-align:right; vertical-align:middle;}
.schCont .inputW .btnDel button {width:18px; height:18px; padding:5px; text-indent:-9999px; vertical-align:middle; background:url(../img/02/btnDel.png) no-repeat 50% 50%/18px auto;}
.schCont .inputW .btnSch {width:38px;}
.schCont .inputW .btnSch a {display:inline-block; width:24px; height:24px; padding:5px; text-indent:-9999px;  text-align:left; vertical-align:middle; background:url(../img/02/btnSch03.png) no-repeat 50% 50%/24px auto;}

.locCont {overflow:hidden; position:relative; height:100%;}
.locCont .img {display:block; overflow:hidden; height:100%; background:no-repeat 50% 50%/100% auto;}
/* .locCont .img img {width:100%;} */
.locCont .icoPin {position:absolute; top:100px; left:20%; width:40px; height:40px;}
.locCont .icoPin.icoPin01 {top:100px; left:20%;}
.locCont .icoTarget {overflow:hidden; position:absolute; top:-50px; right:30px; z-index:3; width:45px; height:45px; text-indent:-9999px; background:rgba(255,255,255,0.9) url(../img/02/icoTarget.png) no-repeat 50% 50%/20px auto;}
.locCont .thumList {overflow:visible; position:absolute; bottom:30px; left:0; width:100%; padding:0 20px; box-sizing:border-box;}
.locCont .thumList article {float:left; width:320px; box-sizing:border-box;}
.locCont .thumList article a {display:block; position:relative; height:170px; padding:25px 0 0 140px; background:#ffffff; box-sizing:border-box;}
.locCont .thumList article .img01 {position:absolute; top:0; left:0; width:120px;}
.locCont .thumList article .img01 img {width:100%;}
.locCont .thumList article .tit {font-size:14px; line-height:1.8em; color:#111111;}
.locCont .thumList article .desc {height:70px; margin:5px 25px 0 0; border-bottom:1px solid #dddddd; font-size:12px; line-height:1.6em; color:#999999;}
.locCont .thumList article .time {display:block; padding-top:3px; font-size:12px; line-height:1.6em; color:#999999;}
.locCont .thumList article .time:before {content:''; display:inline-block; width:15px; height:15px; margin-left:5px; vertical-align:middle; background:url(../img/02/icoTime.png) no-repeat 50% 50%/15px auto;}
.locCont .swiper-pagination .swiper-pagination-bullet {position:absolute; top:100px; left:20%; width:40px; height:40px; text-indent:-9999px; opacity:1; background:url(../img/02/pinOff.png) no-repeat 50% 50%/66px auto;}
.locCont .swiper-pagination .swiper-pagination-bullet:nth-child(1) {top:114px; left:50%;}
.locCont .swiper-pagination .swiper-pagination-bullet:nth-child(2) {top:259px; left:20%;}
.locCont .swiper-pagination .swiper-pagination-bullet:nth-child(3) {top:221px; left:75%;}
.locCont .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {background-image:url(../img/02/pinOn.png);}
.locCont .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {top:-384px; bottom:auto; left:0; width:100%; height:383px;}

/* swiper */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url('../img/02/btnPrev02.png');
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url('../img/02/btnNext.png');
    right: 10px;
    left: auto;
}
.swiper-button-next, .swiper-button-prev {background-size:35px auto;}