@charset "UTF-8";

html, body, div, span, applet, object, iframe,p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;vertical-align:baseline;}
html, body, div, applet, object, iframe,p, blockquote, pre, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { color:#222222; font-size:16px; font-weight:500; letter-spacing:0px; -webkit-text-size-adjust:100%;}
h1, h2, h3, h4, h5, h6, label{margin:0; padding:0; border:0; vertical-align:baseline; font-weight:700; color:#222222; letter-spacing:0px; text-transform: uppercase;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
caption {width:0; height:0; visibility:hidden; line-height:0; font-size:0; overflow:hidden;}
a,a:visited,a:hover,a:active{text-decoration:none;}
input, select, textarea, button {margin:0; padding:0; letter-spacing:-1px; font-family:'Noto Sans CJK KR', 'HelveticaNeue-Light', 'AppleSDGothicNeo-Light', sans-serif;}
button {margin:0; padding:0; background:none; border:none; cursor:pointer;}

/***** base *****/
.clearFix {zoom:1;}
.clearFix:after,
.clearFix:before {display:block; content:'';}
.clearFix:after {clear:both}

/* 공통 */
.tabWrap .tab {position: relative;}
.tabWrap .tab ul {overflow:hidden; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.tabWrap .tab ul li {float:left; width:50%; height: 50px; text-align: center; color:#888888; line-height: 50px; cursor: pointer;}
.tabWrap .tab ul li.active {font-weight:600; color:#333333;}
.tabWrap .tab span{content:""; position: absolute; left:0; bottom:0; width:50%; height:1px; background:#333333; transition: 0.5s;}
.container {margin-top:90px;}
.back {position: absolute; top:29px; left: 33px;}
.back img {width:12px; height:20px}

/* 메인 */
header h1{position: absolute; top:22px; left: 33px;}
header h1 img {width:24px; height: 24px;}
header .menuBtn {position: absolute; top:29px; right: 0;}
header .menuBtn img {width:20px; height: 15px;}
header #gnb {position: fixed; right:-100%; transition: 0.5s;}
header #gnb.navOn {top:0; right:0; z-index: 20; width:82%; height:100%; background:#fff; overflow: auto;}
header #gnb.navOn + .dim {position: fixed; opacity:0; top:0; left:0; z-index:15; width:100%; height:100vh; background:rgba(0,0,0,0.7);}
header .navClose {position: fixed; top:34px; right:-100%; z-index: 20; background: url('../img/01/icon.png') no-repeat 0 -24px/245px; width:20px; height:20px; text-indent:-9999px; color:#fff; transition:0.5s;}
header #gnb > * {margin-left:8%;}
header #gnb > div:last-child {height:43px; line-height:43px; margin: 0; padding-left:8%; background:#f9f9f9;}
header #gnb > div:last-child a {font-size:13px; color:#888888;}
header #gnb > div:last-child .loginForm {display:inline-block;}
header #gnb > div:last-child .loginForm .login {margin-left:12px;}
header #gnb > div:last-child .loginForm .login:before{content:""; display: inline-block; width: 1px; height: 12px; margin-right: 15px; vertical-align: middle; background: #ddd;}
header #gnb > div:last-child > span {float:right; margin-right:25px;}
header #gnb .util {padding: 24px 24px 24px 0;}
header #gnb .util img{width:24px;}
header #gnb .search {float:right; margin-top:3px;}
header #gnb .search > div {display:inline-block; position: relative;}
header #gnb .search label {display:inline-block; opacity:1; position:relative; z-index:5; background: url('../img/01/icon.png') no-repeat -85px 0/245px; width:20px; height:20px; text-indent: -9999px; cursor: pointer;}
header #gnb .search input{position: absolute; opacity:0; top:-5px; right:-7px; width:0; padding:5px; border: 1px solid #222222; transition: 0.5s;}
header #gnb .search input.on {opacity:1; width:180px;}
header #gnb .search input.on ~ label {opacity: 0.5;}
header #gnb .search .map {display:inline-block; background: url('../img/01/icon.png') no-repeat -56px 0/245px; width:20px; height:20px; margin-left: 10px; text-indent: -9999px; cursor: pointer;}
header #gnb .mainList {padding:55px 0; border-top:1px solid #dddddd;  border-bottom: 1px solid #ddd;}
header #gnb .mainList li{font-size:26px; font-weight:600;}
header #gnb .mainList li + li {margin-top:35px;}
header #gnb .subList {padding:34px 0;}
header #gnb .subList li + li {margin-top: 20px;}
header #gnb .subList a {font-size:15px; color:#666666;}
.container h3 {font-size:24px; line-height: 1.17; color:#333333;}
.container .visual .swiper-slide{width:100%;background:#fff}
.container .visual .swiper-slide a {display:block;width:92%;padding-left:8%}

.container .visual .imgWrap {overflow:hidden}
.container .visual .tit,
.container .visual .subTxt{opacity:0;}
.container .visual .swiper-slide img{float:right;width:100%; box-shadow: 0px 7px 6px rgba(0,0,0,0.1);}
.container .visual .swiper-slide h2 {font-size:30px; line-height: 1.1;}
.container .visual .swiper-slide p {margin:12px 0 20px; font-size:15px; color: #666666;}
.container .visual .swiper-slide p span {display:inline-block; margin-left:11px; font-size:12px; color:#888888;}
.container .gallery01 {margin-top:114px}
.container .gallery01 .swiper-slide > a {display:block; overflow: hidden; position:relative;}
.container .gallery01 .swiper-slide > a + a {margin-top:30px;}
.container .gallery01 .swiper-slide .txt {opacity:0;display:inline-block; position:absolute; top:50%; transform: translateY(-50%) translateX(100%); margin-left:16px;}
.container .gallery01 .swiper-slide .txt h3 {margin-bottom:15px}
.container .gallery01 .swiper-slide .txt p {font-size:13px; color: #666666;}
.container .gallery01 .swiper-slide img {float:right; width: 51%;    transform: translateX(100%);}

.container .visual .swiper-slide .imgWrap {transform: translateX(80%) scale(0.8)}

.container .visual .swiper-slide .tit {transform: translateX(50%)}
.container .visual .swiper-slide .subTxt {transform: translateX(50%)}


.container .gallery01 .swiper-slide {width:92%; margin-left:8%;}

/* .container .gallery02 .swiper-slide {position: relative;}
.container .gallery02 .swiper-slide a {position: absolute;} */
.container .gallery02 {margin-top:140px}
.container .gallery02 .swiper-slide {width:390px !important;height:469px;}
.container .gallery02 .swiper-slide a {display:block;position:absolute;;}
.container .gallery02 .swiper-slide a div {width:100%;overflow:hidden;}
.container .gallery02 .swiper-slide a img {width:100%;}
.container .gallery02 .swiper-slide a h3{margin-top:18px; text-align:center;}
.container .gallery02 .swiper-slide a:before{content:'';position:absolute;top:0;left:0;display:block;background:#fff;width:100%;height:100%;transform: translateX(0);}
.container .gallery02 .swiper-slide a.on:before{transform:translateX(100%);transition:350ms transform ease;}
.container .gallery02 .swiper-slide {width:auto;}
.container .gallery02 .swiper-slide:first-child{margin-left:8%;}
.container .gallery02 .swiper-slide a.top {width:165px;top:0;left:0;z-index:1;}
.container .gallery02 .swiper-slide a.middle {z-index:1;width:195px;top:88px;left:195px;}
.container .gallery02 .swiper-slide a.bottom {width:165px;left:0;bottom:0;}
.container .gallery02 .swiper-slide.swiper-slide-active {z-index:1;}





.container .gallery03 {margin:120px 0 56px;}
.container .gallery03 .swiper-slide {position:relative; width:150px;overflow: hidden;}
.container .gallery03 .swiper-slide:first-child {margin-left:8%;}
.container .gallery03 .swiper-slide img {width:100%;}
.container .gallery03 .swiper-slide span {position: absolute; left: 0; bottom: 0; padding: 7px; background: #fff; font-weight: 700; font-size: 20px;}
.container .gallery03 .swiper-slide a {display:block;position: relative;padding-bottom: 15px;overflow: hidden;}
.container .gallery03 .swiper-slide a:before{z-index:1;content:'';position:absolute;top:0;left:0;display:block;background:#fff;width:100%;height:100%;transform: translateX(0);}
.container .gallery03 .swiper-slide a.on:before{transform:translateX(100%);transition:350ms transform ease;}


/* exhibition */
.exhibition, .gallery{width:92%; margin-left:8%;}
.exhibition h3 {margin-bottom:20px; font-size:22px; letter-spacing: 3.3px;}
.exhibition .close {position: absolute; top:11px; left:9px}
.exhibition .close img {width:16px;}
.exhibition .visualImg {width:100%;}
.exhibition .infoWrap .hashtag {margin:30px 0 10px;}
.exhibition .infoWrap .hashTxt {float:left; width:75%;}
.exhibition .infoWrap .hashTxt span:before {content:"#"; font-size:15px; color:#712fe8;}
.exhibition .infoWrap .hashTxt span {font-size:15px; font-weight:500; line-height: 1.27; color:#712fe8}
.exhibition .infoWrap .hashTxt span+span {padding-left:9px;}
.exhibition .infoWrap .infoBtn {float:right;}
.exhibition .infoWrap .infoBtn span {display: inline-block; width: 20px; height: 20px; margin-right: 12px; text-indent: -9999px; cursor: pointer;}
.exhibition .infoWrap .infoBtn span.like{ background: url('../img/01/icon.png') no-repeat -26px 0/245px;}
.exhibition .infoWrap .infoBtn span.on {background-position-y: -26px;}
.exhibition .infoWrap .infoBtn span.share{ background: url('../img/01/icon.png') no-repeat -116px 0/245px;}
.exhibition .infoWrap .infoTxt {margin-bottom:48px}
.exhibition .infoWrap .infoTxt h2 {margin-bottom:20px; font-size:34px; line-height: 1.18;}
.exhibition .infoWrap .infoTxt p{margin-bottom: 13px; color:#888888}
.exhibition .infoWrap .infoTxt p span {padding-left:20px; color:#666666}
.exhibition .tabWrap .tabContents {padding:42px 20px 70px 0;}
.exhibition .tabWrap .tabContents p {font-size:15px; color:#666666; line-height: 1.67; letter-spacing: -0.45px}
/* .exhibition .tabWrap .tabContents > div {display:none;} */
.exhibition .tabWrap .tabContents .location p:after {display:inline-block; content:""; background: url('../img/01/icon.png') no-repeat -138px 2px/245px; width:20px; height:20px; vertical-align: middle;}
.exhibition .tabWrap .tabContents .location img {width :100%; margin-top:17px;}
.exhibition .comment input { margin-bottom:23px; padding:0 15px; width: 95%; height:43px; background: #f9f9f9; border: none;}
.exhibition .comment input::placeholder {color:#888888;}
.exhibition .comment input:after { content:""; display:inline-block; background: url('../img/01/icon.png') no-repeat -131px 6px/168px; width:20px; height:20px;}
.exhibition .comment li {padding-bottom:25px; margin-right:5%; border-bottom:1px solid #dddddd;}
.exhibition .comment li+li {padding-top:25px;}
.exhibition .comment li:last-child{margin-bottom:40px}
.exhibition .comment li img {float:left; width:56px;}
.exhibition .comment li div {float:right; width:80%;}
.exhibition .comment li .name {font-weight:600}
.exhibition .comment li .date {float:right; font-size:11px; color:#888888}
.exhibition .comment li p {margin-top:10px; font-size:14px; color:#666666; line-height: 1.27; letter-spacing: -0.98px;}


.gallery h2, .detail > h2{position: absolute; top: 28px; left: 50%; transform: translateX(-50%); letter-spacing: 2.08px;}
.gallery .tabWrap {position: relative; top: 70px;}
.gallery .tabWrap .tab ul {margin-bottom:23px; border-top:none;}
/* .swiper-container .tabs ul {margin: 23px 0;} */
.gallery .swiper-container .tabs > li { width: auto; cursor: pointer;}
.gallery .galleryInfo {margin: 23px 0;}

.gallery .swiper-slide {color:#888888;}
.gallery .swiper-slide.active {font-weight:600; color:#333333;}
.gallery .galleryLocation {position:relative; height: calc(100vh - 144px); background:url('../img/01/map.jpg') center right no-repeat; background-size:cover}
.gallery .galleryLocation .subTab li{position: absolute; display: inline-block; width: 28px; height: 31px; background: url(../img/01/icon.png) no-repeat -275px 0/345px; text-indent: -9999px; cursor: pointer;}
.gallery .galleryLocation .subTab li.active {height:37px; background: url(../img/01/icon.png) no-repeat -275px -36px/345px;}
.gallery .galleryLocation .subTab li:nth-child(1) {top:80px; left:100px}
.gallery .galleryLocation .subTab li:nth-child(2) {top:200px; left:20px}
.gallery .galleryLocation .subTab li:nth-child(3) {top:130px; left:200px}
.gallery .galleryLocation .subTab li:nth-child(4) {top:230px; left:220px}
.gallery .galleryLocation .subTabContents div {position: fixed; bottom: 0; transition: 0.5s;}

.subTabContents .location {display:none; right:0; left:8%; padding:25px 25px; background-color:#fff; box-sizing:border-box; box-shadow:0px 0px 10px rgba(0,0,0,0.3);}
.subTabContents .location h4 {font-size:1.3em;}
.subTabContents .location dl {margin-top:5px; font-size:0;}
.subTabContents .location dl dt,
.subTabContents .location dl dd {display:inline-block; margin-top:15px; font-size:14px;}
.subTabContents .location dl dt {width:23%; color:#888888;}
.subTabContents .location dl dd {width:77%; color:#555555;}
.subTabContents .closeBtn {position:absolute; top:5px; right:5px; width:40px; height:40px; background:url('../img/01/close.png') no-repeat center; background-size:16px auto;}

.infoContents {margin-top:30px; margin-right:20px;}
.infoGall {font-size:0; margin-bottom:25px; padding-bottom:25px; border-bottom:1px solid #eee;}
.infoGall img, .infoGall dl {vertical-align:top;}
.infoGall img {display:inline-block; width:120px; height:auto;}
.infoGall dl {display:inline-block; margin-top:6px; padding-left:25px;}
.infoGall dt {font-size:20px; font-weight:700;}
.infoGall dd {margin-top:10px; font-size:15px; color:#666666;}
.infoGall dd:last-child {margin-top:20px;}

.detail .exhibitionInfo {margin-top:98px;}